@page "/movies/reserveren"
@using Cinema7.Models;
@inject Cinema7.Data.Controllers.FilmController filmController

<h2>Reserveren</h2>

<table class="table">
    <tr>
        <th>Titel</th>
        <th>Genre</th>
    </tr>
    @foreach (var film in films)
    {
        <tr>
            <td>@film.Titel</td>
            <td>@film.Genre</td>
            <td><a href="movies/filmtijden/@film.Id">Reserveren</a></td>
        </tr>
    }
</table>

@code {
    IEnumerable<Films> films = null;

    protected override void OnInitialized()
    {
        films = filmController.SelectFilmStatus("InBios");
    }
}
